/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #000;
  color: #30c850;
  font-family: "Open Sans", sans-serif;
}