/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #000;
  color: #3EF07A;
  font-family: "Open Sans", sans-serif;
}